<a href="https://colab.research.google.com/github/Shalululuz/python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = 'กัลย์สุดา'
surname = 'กองโพธิ์'
ID = '653020201-9'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ กัลย์สุดา นามสกุล กองโพธิ์ รหัส 653020201-9

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [4]:
#ตัวอย่าง function ที่ไม่มีทั้ง input และ output
def print_myname():
    print('Kansuda')

In [5]:
print_myname()

Kansuda

In [6]:
#ตัวอย่าง function ที่มี inputหลายตัว และ  output 1 ตัว
def print_name(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st
  #return คือการทำให้ผลลัพธ์นำไปใช้ต่อได้

In [8]:
print_name('กองโพธิ์','653020201-9','กัลย์สุดา')

'ชื่อ กัลย์สุดา นามสกุล กองโพธิ์ รหัส 653020201-9'

In [9]:
print(print_name(name='กัลย์สุดา',surname='กองโพธิ์',ID='653020201-9'))

ชื่อ กัลย์สุดา นามสกุล กองโพธิ์ รหัส 653020201-9

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [10]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [11]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

##ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [13]:
#มีoutput
out_printname1 = print_name(name='กัลย์สุดา',surname='กองโพธิ์',ID='653020201-9')
print(out_printname1)

ชื่อ กัลย์สุดา นามสกุล กองโพธิ์ รหัส 653020201-9

In [14]:
#ไม่มีoutput
out_printname2 = print_name2(name='กัลย์สุดา',surname='กองโพธิ์',ID='653020201-9')
print(out_printname2)

ชื่อ กัลย์สุดา นามสกุล กองโพธิ์ รหัส 653020201-9
None

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [15]:
def Pi():
    return 3.14159265359

In [16]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [17]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [18]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [19]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [22]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','B')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> B

##Quiz3 เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time 2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [23]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_secs = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_secs = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_secs = time2_secs - time1_secs
    return dif_secs

In [25]:
cal_dif_secs('12:30:15 - 13:41:07')

4252

##Quiz3.5
รับ input 2 ตัว โดยตั้งค่ default time1 เป็น 00:00:00

In [27]:
def cal_dif_secs_default(time2,time1='00:00:00'):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_secs = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_secs = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    dif_secs = time2_secs - time1_secs
    return dif_secs

In [28]:
cal_dif_secs_default('13:41:07')

49267

##HW2
วนลูป หา ช่วงเวลาเป็นวินาทีที่ห่างกัน ระหว่าง time1 และ time 2 ต่อไปนี้
18:09:10 - 18:25:10

13:38:39 - 23:54:39

16:49:58 - 18:05:58

21:49:10 - 22:24:10

08:52:21 - 09:25:21

06:56:26 - 07:49:26

12:08:05 - 12:43:05

01:48:38 - 07:18:38

08:51:21 - 10:17:21

17:05:17 - 18:09:17

In [29]:
timeinput = ['18:09:10 - 18:25:10','13:38:39 - 23:54:39','16:49:58 - 18:05:58','21:49:10 - 22:24:10','08:52:21 - 09:25:21',
             '06:56:26 - 07:49:26','12:08:05 - 12:43:05','01:48:38 - 07:18:38','08:51:21 - 10:17:21','17:05:17 - 18:09:17']
timeinput

['18:09:10 - 18:25:10',
 '13:38:39 - 23:54:39',
 '16:49:58 - 18:05:58',
 '21:49:10 - 22:24:10',
 '08:52:21 - 09:25:21',
 '06:56:26 - 07:49:26',
 '12:08:05 - 12:43:05',
 '01:48:38 - 07:18:38',
 '08:51:21 - 10:17:21',
 '17:05:17 - 18:09:17']

In [30]:
def timediff(timeinput):
    split_time = timeinput.split('-')
    time1 = split_time[0]
    time2 = split_time[1]
    time1_split = time1.split(':')
    time2_split = time2.split(':')
    hh1 = time1_split[0]
    mm1 = time1_split[1]
    ss1 = time1_split[2]
    hh2 = time2_split[0]
    mm2 = time2_split[1]
    ss2 = time2_split[2]
    hh = int(hh2)-int(hh1)
    mm = int(mm2)-int(mm1)
    ss = int(ss2)-int(ss1)
    if ss < 0:
        ss += 60
        mm -= 1
    if mm < 0:
        mm += 60
        hh -= 1
    time_diff = hh*3600 + mm*60 + ss
    return time_diff

In [32]:
for i in timeinput :
  time_diff_sec = timediff(i)
  print(f'ช่วงเวลาที่ {i} ต่างกันเป็นเวลา {time_diff_sec} วินาที')

ช่วงเวลาที่ 18:09:10 - 18:25:10 ต่างกันเป็นเวลา 960 วินาที
ช่วงเวลาที่ 13:38:39 - 23:54:39 ต่างกันเป็นเวลา 36960 วินาที
ช่วงเวลาที่ 16:49:58 - 18:05:58 ต่างกันเป็นเวลา 4560 วินาที
ช่วงเวลาที่ 21:49:10 - 22:24:10 ต่างกันเป็นเวลา 2100 วินาที
ช่วงเวลาที่ 08:52:21 - 09:25:21 ต่างกันเป็นเวลา 1980 วินาที
ช่วงเวลาที่ 06:56:26 - 07:49:26 ต่างกันเป็นเวลา 3180 วินาที
ช่วงเวลาที่ 12:08:05 - 12:43:05 ต่างกันเป็นเวลา 2100 วินาที
ช่วงเวลาที่ 01:48:38 - 07:18:38 ต่างกันเป็นเวลา 19800 วินาที
ช่วงเวลาที่ 08:51:21 - 10:17:21 ต่างกันเป็นเวลา 5160 วินาที
ช่วงเวลาที่ 17:05:17 - 18:09:17 ต่างกันเป็นเวลา 3840 วินาที

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [33]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> / จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค

In [34]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [35]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [37]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

##สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [38]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [39]:
for i in range(100):
    print('muhaha',end=' ')

muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha muhaha

In [40]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [42]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [43]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [44]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [45]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [46]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [47]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [49]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [50]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [57]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่รัน','น้องแคมป์']

In [61]:
print_feelings('ชา',list_friends)

ชา คิดถึง พี่บูม
ชา คิดถึง ดายน์
ชา คิดถึง แตงโม
ชา คิดถึง ฝน
ชา คิดถึง พี่รัน
ชา คิดถึง น้องแคมป์

In [64]:
print_feelings('ชา',list_friends,feeling='รัก')

ชา รัก พี่บูม
ชา รัก ดายน์
ชา รัก แตงโม
ชา รัก ฝน
ชา รัก พี่รัน
ชา รัก น้องแคมป์

In [66]:
print_feelings('ชา',list_friends,'รัก')

ชา รัก พี่บูม
ชา รัก ดายน์
ชา รัก แตงโม
ชา รัก ฝน
ชา รัก พี่รัน
ชา รัก น้องแคมป์

##Dictionary (Data Structure)
- โครงสร้างข้อมูลที่เก็บข้อมูลอ้างอิง โดย text

- ใช้ {} Curly Brackets

- ใช้ในการสร้างตารางเยอะ ต้องเข้าใจใช้ให้เป็น

- () ล็อคข้อมูลเก็บแล้วเเก้ไม่ได้

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [68]:
Ex_dict_A ={'memberA':[1,2,3],'memberB':8,'memberC':'abc'}
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [69]:
Ex_dict_A['memberA'][1] #ตัวชี้[]

2

In [67]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [70]:
name_grade['ปนัดดา']

'A'

In [74]:
name_grade.keys() #วนลูปในkey เพราะคีย์ชี้ไปหา values ได้

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [73]:
name_grade.values() #วนลูปใน values แล้วมันจะไม่วนไปหาkey

dict_values(['B', 'C', 'A', 'F'])

In [71]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [76]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional statement คือ เงื่อนไข /ประโยคเงื่อนไข
- ชนิดตัวแปรที่เกี่ยวข้อง Boolean (True,False)

In [78]:
Connection_1 = True #มีค่า = 1
Connection_2 = False #มีค่า = 0

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [92]:
#ตัวอย่าง
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"]]


def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [93]:
for time1,time2 in time_list:
  if time_to_second(time1) < time_to_second (time2):#ถ้า time1 < time2
    diff_seconds = time_to_second(time2) - time_to_second(time1)
  elif time_to_second(time1) > time_to_second (time2):#ถ้า time1 ไม่น้อยกว่า time2
    diff_seconds = time_to_second(time2) + 24*3600 - time_to_second(time1)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

##HW3 เพิ่มฟังก์ชันแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่น ๆ ของ python (import) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ไม่ต้องเเสดง

In [94]:
def time_to_hour_min_sec(time_sec):
    hh = time_sec // 3600
    mm = (time_sec % 3600) // 60
    ss = time_sec % 60

    if hh == 0 and mm == 0:
        return "{:d} วินาที".format(ss)
    elif hh == 0 and ss == 0:
        return "{:d} นาที".format(mm)
    elif mm == 0 and ss == 0:
        return "{:d} ชั่วโมง".format(hh)
    elif hh == 0:
        return "{:d} นาที {:d} วินาที".format(mm, ss)
    elif mm == 0:
        return "{:d} ชั่วโมง {:d} วินาที".format(hh, ss)
    elif ss == 0:
        return "{:d} ชั่วโมง {:d} นาที".format(hh, mm)
    else:
        return "{:d} ชั่วโมง {:d} นาที {:d} วินาที".format(hh, mm, ss)

In [95]:
print(time_to_hour_min_sec(60))

1 นาที

#### ==, !=,>=,<=,<,>

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [86]:
if True:
    print('Yes')

Yes

In [87]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [99]:
if False:
    print('Yes')
else:
    print('No')

No

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [100]:
def calculate_grade(score):
    if score < 0 or score > 100:
        return "Error: คะแนนต้องอยู่ระหว่าง 0 - 100 เท่านั้น"
    elif score >= 0 and score < 50:
        return "F"
    elif score >= 50 and score < 55:
        return "D"
    elif score >= 55 and score < 60:
        return "D+"
    elif score >= 60 and score < 65:
        return "C"
    elif score >= 65 and score < 70:
        return "C+"
    elif score >= 70 and score < 75:
        return "B"
    elif score >= 75 and score < 80:
        return "B+"
    elif score >= 80 and score <= 100:
        return "A"

In [101]:
score = [1,50,65,90,101,-5,49]
for score in score:
 print(f" {score} คะเเนน ได้เกรด {calculate_grade(score)}")

 1 คะเเนน ได้เกรด F
 50 คะเเนน ได้เกรด D
 65 คะเเนน ได้เกรด C+
 90 คะเเนน ได้เกรด A
 101 คะเเนน ได้เกรด Error: คะแนนต้องอยู่ระหว่าง 0 - 100 เท่านั้น
 -5 คะเเนน ได้เกรด Error: คะแนนต้องอยู่ระหว่าง 0 - 100 เท่านั้น
 49 คะเเนน ได้เกรด F

##==, !=(ไม่เท่า),>=,<=,<,> Operator ตัวเลข
##&(and) , |(or) , in(เป็นสมาชิก) , is Operator อื่นๆ

In [102]:
if (1>0) & (0>-1):
  print(True & True)

True

In [103]:
if 'T' in 'Thanapong':
  print('T in Thanapong')

T in Thanapong

In [105]:
def return_nothing(x): #อย่าลืม return function
    x = x+1
A = return_nothing(5)

In [106]:
if A is None:
  print('x is null')

x is null

# Finish